<div class="container">
  <div class="row form">
    <div class="col-8">
      <form action="">
        <table class="table">
          <tr class="title">
            <th colspan="2" >EDIT SERVICE</th>
          </tr>
          <tr>
            <th>Service name:</th>
            <td><input type="text" name="serviceName"></td>
          </tr>
          <tr>
            <th>Area(m2):</th>
            <td><input type="text" name="serviceArea"></td>
          </tr>
          <tr>
            <th>Floor(s):</th>
            <td><input type="text" name="serviceFloor"></td>
          </tr>
          <tr>
            <th>Max Capacity:</th>
            <td><input type="text" name="serviceCapacity"></td>
          </tr>
          <tr>
            <th>Cost:</th>
            <td><input type="text" name="serviceCost"></td>
          </tr>
          <tr>
            <th>Rent type by:</th>
            <td>
              <select name="serviceRentType">
                <option value="1">Year</option>
                <option value="2">Month</option>
                <option value="3">Day</option>
                <option value="4">Hour</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>Status:</th>
            <td>
              <input type="text" name="serviceStatus">
            </td>
          </tr>
          <tr class="button">
            <td><a href="" ><button class="btn-danger" type="button">Cancel</button></a></td>
            <td><button type="submit" class="btn-success save">Save</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
