<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>List students</h1>
  <h4 th:if="${message != null}" th:text="${message}"></h4>
<table border="1">
  <tr>
    <th>No</th>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
  </tr>
  <tr th:each="st, iter: ${students}" th:object="${st}">
    <td th:text="${iter.count}"></td>
    <!--<td th:text="*{id}"></td>
    <td th:text="*{name}"></td>
    <td th:text="*{address}"></td>-->
    <td th:text="${iter.current.id}"></td>
    <td th:text="${iter.current.name}"></td>
    <td th:text="${iter.current.address}"></td>
  </tr>
</table>
</body>
</html>