<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Province detail</title>
</head>
<body>
  <table th:object="${province}">
    <tr >
      <th>ID: </th><td th:text="*{id}"></td>
    </tr>
    <tr>
      <th>Name:   </th><td th:text="*{provinceName}"></td>
    </tr>
      <tr>
          <td>
              <a th:href="@{save/{id}(id=*{id})}"><button>Edit</button></a>
          </td>
          <td>
              <a th:href="@{delete/{id}(id=*{id})}"><button>Delete</button></a>
          </td>
      </tr>
  </table>
</body>
</html>