* {
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
body {
    background-color: gray;
}
header {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: rgb(36,37,38);
    height: 56px;
}
section.leftPanel {
    background-color: black;
    color: white;
    font-size: 18px;
    position: fixed;
    float: left;
    display: block;
    width: 20%;
    height: 670px;
    overflow: scroll;
}
section.rightPanel{
    background-color: black;
    color: white;
    font-size: 18px;
    position: fixed;
    right: 0;
    top: 56px;
    float: right;
    display: inline-block;
    width: 20%;
    height: 670px;
    overflow: scroll;
}
main{
    position: relative;
    left: 273px;
    top: 56px;
    display: inline-block;
    background-color:black;
    color: white;
    width: 60%;
    height: 100%;
}
header div.logo {
    display: inline-block;
    position: relative;
    top: 25%;
    bottom: 25%;
}
header .nav-search,
header .nav-search input{
    display: inline-block;
    position: relative;
    width: 592px;
    height: 30px;
    border-radius: 5px;

}
header .nav-search {
    margin-left: 240px;
}

header div.notification {
    display: inline-block;
    float: right;
    position: relative;
    right: 5px;
}
div ul li {
    display: inline-block;
}
div ul li img:hover {
   opacity: 0.7;
}
div ul ul {

    position: absolute;
    margin-left: -150px;
}
div ul ul li {

    display: block;
    height: 40px;
    width: 200px;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 5px;
background-color: darkgray;
    visibility: hidden;
}
div ul li img:hover + ul li{
    visibility: visible;

}
.leftPanel .category1 ul{
    height: 277px;
    border-bottom: 1px solid darkgray;
}

.leftPanel .category1 li,
.leftPanel .category2 li,
.leftPanel .category3 li{
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 15px 0;
    left: 10px;
}
.leftPanel .category1 li {
    height: 16.67%;
}
.rightPanel div ul li:hover,
.leftPanel div ul li:hover {
    border: 1px solid darkgray;
    background-color: rgb(176,179,184);
    opacity: 1;
}

.leftPanel .category2 ul{
    height: 200px;
    border-bottom: 1px solid darkgray;
}
.leftPanel .category2 li{
    height: 25%;
}
.rightPanel div {
   margin-left: 10px;
}

.rightPanel div li {
    display: block;
    width: 100%;
    border-radius: 10px;
}
.rightPanel .advertisement {
    height: 255px;
}
.rightPanel .advertisement p {
    margin: 5px 0;
}
.rightPanel .advertisement ul {
    height: 90%;
}
.rightPanel .advertisement li {
    height: 50%;
}
.rightPanel .activeUser ul {
    margin-top: 10px;
}
.rightPanel .activeUser li {
    height: 35px;
}

main article {
    margin: 0 auto;
    width: 90%;
background-color:  rgb(24,25,26);
    border-radius: 5px;
}
main article img,
main article section  {

    margin: 8px 15px;
}