<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <tr class="title">
          <th colspan="2">
            CUSTOMER LIST
          </th>
          <th colspan="7">
            <form action="">
              <input type="text" placeholder="search" name="search">
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>
          </th>
        </tr>
        <tr class="fieldName">
          <th>No.</th>
          <th>ID</th>
          <th>Name</th>
          <th>Rank</th>
          <th>Birth</th>
          <th>ID card</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="operationButton">
            <a href=""><i class="bi bi-pencil-square"></i></a>
            <a href=""><i class="bi bi-trash"></i></a>
          </td>
        </tr>
        <tr>
          <td colspan="9">
            <ul class="pagination">
              <li class="page-item"><a href="" class="page-link">Previous</a></li>
              <li class="page-item"><a href="" class="page-link">1</a></li>
              <li class="page-item"><a href="" class="page-link">2</a></li>
              <li class="page-item"><a href="" class="page-link">3</a></li>
              <li class="page-item"><a href="" class="page-link">Next</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
