<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>infor</title>
</head>
<body>
    <table th:object="${mailbox}">
        <tr>
            <th>Language:</th>
            <td th:text="*{language.language}"></td>
        </tr>
        <tr>
            <th>Email per page:</th>
            <td th:text="*{emailPerPage}"></td>
        </tr>
        <tr>
            <th>Spam Filter:</th>
            <td th:text="${mailbox.spamFilter}? 'Active':'Inactive'"></td>
        </tr>
        <tr>
            <th>Signature:</th>
            <td th:text="*{signature}"></td>
        </tr>
    </table>
    <a href="http://localhost:8080">Về trang chủ</a>
    <a th:href="@{{id}/update(id=${mailbox.id})}">Sửa</a>
    <a href="">Xóa</a>
</body>
</html>