<div class="container">
  <div class="row card-header">
    DETAIL
  </div>
  <div class="row">
    <div class="col">
      Name:
    </div>
    <div class="col">
      {{product.name}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Price:
    </div>
    <div class="col">
      {{product.price}}
    </div>

  </div>
  <div class="row">
    <div class="col">Description:</div>
    <div class="col">
      {{product.description}}
    </div>
  </div>
  <div class="row">
    <div class="col">Category:</div>
    <div class="col">
      {{product.category.category}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button [routerLink]="['/product-manager/edit',product.id]">Edit</button>
    </div>
    <div class="col">
      <button (click)="delete(product.id)">Delete</button>
    </div>
  </div>
</div>

