div.rating-bar{
  display: flex;
}
div.rating-unit {
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}
.active{
  color: yellow;
}
