<p>name-card works!</p>
<div class="nameCard container">
  <div class="row">
    <div class="avatar col-4">
      <img src="assets/cat_meme.png" alt="">
    </div>
    <div class="info col-8">
      <div class="content">
        <ul>
          <li>Name: {{nameCard}}</li>
          <li><i class="bi bi-envelope-at"></i> {{email}}</li>
          <li><i class="bi bi-house"></i> {{phone}}</li>
        </ul>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col">
    <h3>Change name card</h3>
    <form (ngSubmit)="changeNameCard(form)" #form="ngForm" >
      <label>Name:</label>
      <input type="text" ngModel name="nameCard" >
      <label>Phone:</label>
      <input type="text" ngModel name="phone">
      <label ngModel>Email:</label>
      <input type="text"  ngModel name="email">
      <input type="submit">
    </form>
  </div>
</div>
</div>
