/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";


footer div {
  background-color: #B8D9CD;
}
tr.button td{
  text-align: center;
}

tr.button td button{
  width: 100px;
  height: 40px;
}
div.form{
  justify-content: center;
}
tr.title {
  background-color: #F29849;
}
tr.title th{
  font-size: 18px;
  text-align: center;
  color: white;
}
td.operationButton a{
  margin: 10px;
}
td.operationButton i {
  font-size: 20px;
}
