<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
</head>
<body>
    <h1>Create new product</h1>
    <form th:action="@{/product/update}" method="post" th:object="${product}">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{category.categoryId}">
                        <option th:each="c: ${categories}" th:value="${c.categoryId}"
                            th:text="${c.categoryName}"
                            th:selected="${product.category.categoryId == c.categoryId}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><input type="text" th:field="*{quantity}" /></td>
            </tr>
            <tr>
                <td>Date release</td>
                <td><input type="text" th:field="*{dateRelease}" placeholder="dd/MM/yyyy" /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{price}" /></td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset"></td>
                <td><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</body>
</html>