<h2>product-list works!</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="table-active">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Iphone 12</td>
          <td>3200000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Iphone 11</td>
          <td>1600000</td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
